<%= content_for :header do %>
  <%= link_to '<', groups_path, class:"back-btn btn header-btn" %>
  <h2>Payments for <%= @group.name %></h2>
<% end %>
<div class="total">
  <p>Total Amount: </p>
   <p><%= number_to_currency(@group.payments.sum(:amount)) %></p>
</div>
<ul>
  <%= render partial: 'payments/payment', collection: @payments %>
</ul>

<div class="footer">
  <%= link_to 'Add a new payment', new_payment_path(def_group: @group.id), class:"btn btn-secondary" %>
</div>
