<%= form_with(model: payment) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :categories %>
    <% groups.each do |group| %>
      <div>
        <%= check_box_tag "payment[group_ids][]", group.id, f.object.group_ids.include?(group.id) %>
        <%= label_tag "payment_group_ids_#{group.id}", group.name %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
