<%= form_with(model: payment, url: payments_path(def_group: initial_group)) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: 'Enter name' %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount, required: true, step: "0.01", placeholder: 'Enter amount' %>
  </div>
  <div class="field">
    <%= f.label :categories %>
    <% groups.each do |group| %>
      <div>
        <%= f.label "group_ids_#{group.id}" do %>
          <%= f.check_box :group_ids, { multiple: true, checked: group.id == initial_group.id }, group.id, nil %>
          <%= group.name %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
